<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a1</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <!--<div ng-app="">-->
        <!--<p>名字:<input type="text" ng-model="name"></p>-->
        <!--<h1>Hello{{name}}</h1>-->
    <!--</div>-->
<div ng-app="" ng-init="firstName='July'">
<p>姓名为:<span ng-bind="firstName"></span></p>
</div>
</body>
</html>