<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular动画</title>
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    <style>
        div {
            transition: all linear 0.5s;
            background-color: lightblue;
            height: 100px;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
        }
        .ng-hide {
            height: 0;
            width: 0;
            background-color: transparent;
            top:-200px;
            left: 200px;
        }
    </style>
</head>
<body ng-app="ngAnimate" ng-controller="myCtrl">
隐藏DIV: <input type="checkbox" ng-click="myCheck">
<div ng-hide="myCheck"></div>
<script>
    angular.module('ngAnimate',[]).controller('myCtrl',function ($scope) {
        $scope.myCheck = function () {
            return .ng-hide
        }
    })
</script>
</body>
</html>