<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular输入验证</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
        <p>用户名:<br>
            <input type="text" name="user" ng-model="user" required>
            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                <span ng-show="myForm.user.$error.required">用户名是必须的。</span>
            </span>
        </p>
        <p>邮箱:<br>
        <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">邮箱是必须的</span>
            <span ng-show="myForm.email.$error.email">非法的邮箱</span>
        </span>
        </p>
        <p>
            <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.&invalid">
        </p>
    </form>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('validateCtrl',function ($scope) {
            $scope.user = 'July love';
            $scope.email = '745569154@qq.com'
        });
        //novalidate 用于禁用浏览器默认的验证
    </script>
</body>
</html>