<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        名:<input type="text" ng-model="firstName"><br>
        姓:<input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{firstName + " " + lastName}}
    </div>
    <script>
        var app =angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.firstName = 'July';
            $scope.lastName = 'Mike';
        })
    </script>
</body>
</html>