<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Angular表单</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="formCtrl">
    <form novalidate>
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br>
        Last Name:<br>
        <input type="text" ng-model="user.lastName"><br>
        <br>
        <button ng-click="reset()">重置</button>
        <br>
        <p>form = {{user}}</p>
        <p>master = {{master}}</p>
    </form>
</div>
<script>
    var app = angular.module('myApp',[]);
    app.controller('formCtrl',function ($scope) {
        $scope.master = {firstName:'July',lastName:'love'};
        $scope.reset = function () {
            $scope.user = angular.copy($scope.master);
        }
        $scope.reset();
    })
</script>
</body>
</html>