<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular笔记</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="noteApp" ng-controller="noteCtrl">
         <h2>我的笔记</h2>
        <textarea ng-model="message" cols="40" rows="10"></textarea>
        <br>
        <button ng-click="save()">保存</button>
        <button ng-click="clear()">清除</button>
        <br>
        剩余字数:<span ng-bind="zs()"></span>
    </div>
    <script>
        var app = angular.module('noteApp',[]);
        app.controller('noteCtrl',function ($scope) {
            $scope.message = '';
            $scope.save = function () {
                alert('已经保存!')
            };
            $scope.clear = function () {
                $scope.message = '';
            };
            $scope.zs = function () {
                return 100 - $scope.message.length;
            }
        })
    </script>
</body>
</html>