<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular API</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <!--<div ng-app="myApp" ng-controller="myCtrl">-->
        <!--<p>{{x1}}</p>-->
        <!--<p>{{x2}}</p>-->
    <!--</div>-->
    <!--<script>-->
        <!--var app = angular.module('myApp',[]);-->
        <!--app.controller('myCtrl',function ($scope) {-->
            <!--$scope.x1 = 'July';-->
            <!--$scope.x2 = angular.lowercase($scope.x1);-->
        <!--});-->
    <!--</script>-->
    <!--<div ng-app="myApp" ng-controller="myCtrl">-->
        <!--<p>{{x1}}</p>-->
        <!--<p>{{x2}}</p>-->
    <!--</div>-->
    <!--<script>-->
        <!--var app = angular.module('myApp',[]);-->
        <!--app.controller('myCtrl',function ($scope) {-->
            <!--$scope.x1 = 'July';-->
            <!--$scope.x2 = angular.uppercase($scope.x1);-->
        <!--});-->
    <!--</script>-->
    <!--<div ng-app="myApp" ng-controller="myCtrl">-->
        <!--<p>{{x1}}</p>-->
        <!--<p>{{x2}}</p>-->
    <!--</div>-->
    <!--<script>-->
        <!--var app = angular.module('myApp',[]);-->
        <!--app.controller('myCtrl',function ($scope) {-->
            <!--$scope.x1 = 'July';-->
            <!--$scope.x2 = angular.isString($scope.x1);-->
        <!--});-->
    <!--</script>-->
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>{{x1}}</p>
        <p>{{x2}}</p>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function ($scope) {
            $scope.x1 = 'July';
            $scope.x2 = angular.isNumber($scope.x1);
        });
    </script>
</body>
</html>