<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-model指令</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        名字:<input type="text" ng-model="name">
    </div>
    <script>
        var app =angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.name = 'July';
        })
    </script>
</body>
</html>