<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scope概述</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <input ng-model="name">
        <h1>{{greeting}}</h1>
        <button ng-click="sayHello()">点我</button>
    </div>
    <script>
        var app =angular.module('myApp',[]);
        app.controller('myCtrl',function ($scope) {
            $scope.name = 'July';
            $scope.sayHello = function () {
                $scope.greeting = 'Hello' + $scope.name + '!';
            }
        })
    </script>
</body>
</html>