<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scope作用范围</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <ul>
            <li ng-repeat="x in names" ng-bind="x"></li>
        </ul>
    </div>
    <script>
        var app =angular.module('myApp',[]);
        app.controller('myCtrl',function ($scope) {
            $scope.names =['July','mike','syan','zasd'];
        })
    </script>
</body>
</html>