<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>根作用域</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <h1>{{lastName}}</h1>
        <ul>
            <li ng-repeat="x in names">{{x}}{{lastName}}</li>
        </ul>
    </div>
    <script>
        var app =angular.module('myApp',[]);
        app.controller('myCtrl',function ($scope,$rootScope) {
            $scope.names = ['july','mike','kevin','cathy'];
            $rootScope.lastName ='reees';
        })
    </script>
</body>
</html>