<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>services</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <p>当前页面的url是</p>
    {{myUrl}}
</div>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl',function ($scope,$location) {
        $scope.myUrl = $location.absUrl();
    })
</script>
</body>
</html>