<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据源为对象</title>    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

</head>
<body>
<!--<div ng-app="myApp" ng-controller="myCtrl">-->
    <!--<select ng-model="selectedSite" ng-options="x for (x, y) in sites"></select>-->
    <!--<h1>你选择的网站是{{selectedSite}}</h1>-->
<!--</div>-->
<!--</body>-->
<!--<script>-->
    <!--var app =angular.module('myApp',[]);-->
    <!--app.controller('myCtrl',function ($scope) {-->
            <!--$scope.sites = {-->
                <!--site01 : "Google",-->
                <!--site02 : "Runoob",-->
                <!--site03 : "Taobao"-->
        <!--};-->
    <!--});-->
<div ng-app="myApp" ng-controller="myCtrl">

    <p>选择一辆车:</p>

    <select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars"></select>
    <p>你选择的是: {{selectedCar.brand}}</p>
    <p>型号为: {{selectedCar.model}}</p>
    <p>颜色为: {{selectedCar.color}}</p>

    <p>下拉列表中的选项也可以是对象的属性。</p>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.cars = {
            car01 : {brand : "Ford", model : "Mustang", color : "red"},
            car02 : {brand : "Fiat", model : "500", color : "white"},
            car03 : {brand : "Volvo", model : "XC90", color : "black"}
        }
    });
</script>
</script>
</html>