<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过滤输入</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>
            <input type="text" ng-model="test">
        </p>
        <ul>
            <li ng-repeat="x in names | filter:test | orderBy:'country'">
                {{(x.name | uppercase) + ',' + x.country}}
            </li>
        </ul>
    </div>
    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function ($scope) {
            $scope.names = [
                {name:'Jani',country:'Norway'},
                {name:'Hege',country:'Sweden'},
                {name:'Kai',country:'Denmark'}
            ]
        })
    </script>
</body>
</html>